.black-toolbar {
  background-color: black;
  color: white;
}

.header-icon{
  color:white;
}

.spacer {
  flex: 1 1 auto;
}

.toolbar-title {
  font-size: 1.5rem; /* Scales with the root font size */
  margin-left: 1rem;
  font-weight: 500;
}

a {
  color: white;
}
