@use "../../variables";

.check-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

.check-in-box {
  background-color: var(--secondary-background);
  padding: 2.5rem;
  border-radius: var(--border-radius-large);
  box-shadow: var(--box-shadow-lifted);
  text-align: center;
  max-width: 500px;
  width: 100%;

  h2 {
    font-family: var(--font-family-headings);
    color: var(--primary-accent);
    font-size: var(--font-size-h2);
    margin-bottom: 1rem;
  }

  p {
    font-family: var(--font-family-body);
    color: var(--secondary-text);
    font-size: var(--font-size-large);
  }

  mat-form-field {
    width: 100%;
    margin-top: 1.5rem;
  }

  .member-details {
    margin-top: 2rem;

    h3 {
      font-family: var(--font-family-headings);
      color: var(--primary-accent);
      font-size: var(--font-size-h3);
      margin-bottom: 0.5rem;
    }

    .check-in-actions,
    .check-out-actions {
      margin-top: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      mat-slide-toggle {
        margin-bottom: 1rem;
      }

      button {
        width: 100%;
      }
    }
  }
}
