/*
 * App Color Palette
 * -------------------------------------------------------------------------- */

:root {
  --primary-background: #1a1a1a;
  --secondary-background: #242424;
  --ui-background: #3a3a3a;
  --ui-background-light: #333;
  --primary-accent: #ffd700;
  --primary-accent-hover: #e6c300;
  --primary-text: #fff;
  --secondary-text: #b0b0b0;
  --borders-dividers: #333;
  --box-shadow: rgba(0, 0, 0, 0.2);
  --primary-accent-alpha: rgb(255, 215, 0, 0.1);
}
