@import 'variables';

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--primary-background);
}

.header {
  background-color: var(--secondary-background);
  padding: 1rem 2rem;
  box-shadow: 0 2px 8px var(--box-shadow);
  z-index: 10;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2rem;
  color: var(--primary-accent);
}

.main-content {
  flex: 1;
  padding: 2rem;
}
