@use "app/variables";
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-background);
  color: var(--primary-text);
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: var(--secondary-background);
  padding: 1rem 2rem;
  box-shadow: 0 2px 8px var(--box-shadow);
  z-index: 10;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2rem;
  color: var(--primary-accent);
}

.main-content {
  flex: 1;
}

.app-snackbar {
  background-color: var(--primary-accent);
  color: var(--primary-background);
}

.error-snackbar {
  background-color: #f44336; /* Red for errors */
  color: white;
}

.custom-menu-panel {
  background-color: #3a3a3a !important;
}

.custom-menu-panel .mat-mdc-menu-item {
  color: #fff !important;
}

.custom-menu-panel .mat-mdc-menu-item:hover {
  background-color: #555 !important;
}
